<% provide(:title, "About") %>

<h1>About This Course</h1>

<p>This is a survey course that incorporates, according to the catalog, &quot;A study of 
core topics and great ideas in the field of computer science, focusing on underlying algorithmic 
principles and social implications. Topics may include multimedia and hypermedia, networks, 
architecture, programming languages, software design, artificial intelligence, databases, 
cryptography, and the theory of computing.&quot; Since computer science is a very broad 
discipline, we will cover some topics together and open up room for exploration tailored 
to each student's particular focus. </p>
<p>This is a lab course and so you will get hands-on experience with some programming 
platforms and languages, but no prior experience is required or expected. There are no 
prerequisites for this course. </p>

<h2>Important Note!</h2>
<p>This website is an example used to demonstrate interactive functionality that might
be used to create a more dynamic class website than is normally possible with basic
HTML and CSS.  Some of my colleagues use PHP and MySQL to create an adaptable course
site.  I am experimenting with similar ideas ported to Ruby on Rails.  </p>
<p>Since this is an experiment, <strong>expect</strong> that some links will be broken
and sections of the site are not yet completed.</p>