<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p>Professor Johnson is usually in her office Monday through Friday between 9am and 5pm,
unless she is in class or meetings. (The Outlook calendar is usually correct.) </p>

<p>If the office door is open, you are invited to stop in 
to talk.  If the door is closed, please come back during office hours (posted on the door
and listed below). </p>

<p>At other times, you may find her on campus, singing in the Oratorio Society,
testing new programs in the computer labs, taking a walk, catching Pokemon, claiming
portals for the Resistance, or finding Foundables to return to Hogwarts.  She may be willing
to answer quick questions during these periods, and there is a possibility that the
answers might be correct.  </p>

<h2>Office Hours</h2>