<!DOCTYPE html>
<html>
<head>
	<title>CSC 105 Deadlines</title>
</head>
<body>
<h1>Deadlines</h1>
<p>I don't particularly like the name "deadlines" .... really, these are the
due dates for assignments.  I usually will grant extensions --- at a penalty --- if students
are unable to turn in homework by the assigned date.</p>
<body>
</html>