<% provide(:title, "Help") %>
<h1>Help</h1>
<p>There many ways to get help in this class from the teaching team (instructor
and mentor), the department's evening or individual tutors, Academic Support, and Disability Services.  </p>

