<% provide(:title, "Home") %>

<div class="center jumbotron">
<h1>CSC 105 - The Digital Age</h1>
</div>

<h2>Welcome to the Course!</h2>
<p>This is a survey course that incorporates, according to the catalog, &quot;A study of 
core topics and great ideas in the field of computer science, focusing on underlying 
algorithmic principles and social implications. Topics may include multimedia and hypermedia, 
networks, architecture, programming languages, software design, artificial intelligence, databases, 
cryptography, and the theory of computing.&quot; Since computer science is a very broad discipline, 
we will cover some topics together and open up room for exploration tailored to each student's particular focus. </p>
<p>This is a lab course and so you will get hands-on experience with some programming platforms and languages, 
but no prior experience is required or expected. There are no prerequisites for this course. </p>
<p>Note: This course is under development and may change before we begin in January. 
It may also change slightly as we progress through the semester in response to the interests of the students.</p>


<h2>Syllabus</h2>
<p>The syllabus will be finalized in January.</p>
<h3>Acknowledgements</h3>
<p>Neither teaching nor computer science are solitary pursuits. This syllabus and all course 
materials have been prepared in conversation with and adapted from the example of many generous 
colleagues, including but not limited to: those who taught prior iterations of CS 105 and 
created foundational materials: Dr. Liz Rodrigues, Dr. Jerod Weinman, Dr. Sam Rebelsky, 
Dr. Urusula Wolz, Dr. Katie Walden, Megan Adams, Dr. Erik Simpson, Dr. Mike Guenther, and 
Dr. Ryan Cordell. I would also like to thank Dr. Henry Walker for many discussions on what 
should be included in a computer science curriculum. </p>

<p>Powered by Ruby on Rails as a demonstration website!</p>
<%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org/' %>

