<!DOCTYPE html>
<html>
<head>
	<title>CSC 105 Home</title>
</head>
<body>
<h1>CSC 105 - The Digital Age</h1>
<p>This will become the home page for the course, including the syllabus.</p>
</body>
</html>
