<% provide(:title, "Homework") %>

<h1>Assignments</h1>
<p>I originally named this "Homework", but it really is a list of all assignments 
and assessments for the course. Note that the title is still "Homework" because if I change it,
it would break some tests.  This is a case in which writing tests early for content that might
change is not always a good use of time.  </p>

