<% provide(:title, "Instructor Tools") %>



<div>
	<h1>Instructor Tools</h1>
	<p>This will probably require login credentials to access in the near future.</p>
	<%= link_to "Add a reading", add_reading_path, class: "btn btn-lg btn-primary" %>
</div>



