<% provide(:title, "Schedule") %>

<h1>Course Schedule</h1>
<h2>Schedule</h2>
<p>Links to the readings can be found in the course bibliography, unless otherwise noted. 
Readings may change up to a week before they are due, but no modifications are made less 
than a week before an assignment is due.</p>
<p>[Jump to Current Week]</p>
<h3 class="standout">Group Assignments</h3>
<p>Reading Group 1:</p>
<p>Reading Group 2:</p>
<p>Reading Group 3:</p>
<p>Discussion Group A:</p>
<p>Discussion Group B:</p>
<table width="90%" border="1" class="schedule">
  <tbody>
	  <tr class="week-header">
          <td colspan="5"><a name="week01"></a>Week 1</td>
      </tr>
    <tr class="column-header">
      <td width="4%">Day</td>
      <td width="7%">Date</td>
      <td width="22%">Topic</td>
      <td width="38%">Reading/Prep Work</td>
      <td width="29%">Work due</td>
    </tr>
    <tr>
      <td>W</td>
      <td>1/22</td>
      <td>Getting Started</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>F</td>
      <td>1/24</td>
      <td>Data Representation &amp; Introduction to MathLAN<br>
        Lab 1: <a href="Labs/lab1.html">MathLAN & Twine</a></td>
      <td>Coover, A History of the Future of Narrative (in PWeb)</td>
      <td><a href="Assignments/assignment0.html">Assignment 0</a></td>
    </tr>
    <tr class="week-header">
          <td colspan="5"><a name="week02"></a>Week 2</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading/Prep Work</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>1/27</td>
      <td>Discussion: History of Computing</td>
      <td>Group 1: O'Regan Chp. 3: Foundations of Computing<br>
        Group 2: Grier Introduction &amp; pp. 38-45<br>
        Group 3: <a href="Readings/selectionhistory.html">Selections from a collection of articles</a></td>
      <td>Reading Summaries Posted by 10:30 pm</td>
    </tr>
    <tr>
      <td>W</td>
      <td>1/29</td>
      <td>Lab 2: <a href="Labs/lab2.html">Introduction to Linux</a></td>
      <td>Background Reading: Linux terminal</td>
      <td>Group A: Discussion post due by 10:30 pm</td>
    </tr>
    <tr>
      <td>F</td>
      <td>1/31</td>
      <td><p>Binary Numbers &amp; Arithmetic</p></td>
      <td>&nbsp;</td>
      <td>Group B: Comments due by 10:30 pm</td>
    </tr>
    <tr class="week-header">
          <td colspan="5"><a name="week03" id="week03"></a>Week 3</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading/Prep Work</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>2/3</td>
      <td>Narrative in the digital age<br></td>
      <td>Depression Quest, Spent, Sims2 Challenges</td>
      <td>Group B: Discussion post due by 10:30 pm</td>
    </tr>
    <tr>
      <td>W</td>
      <td>2/5</td>
      <td>Character encoding</td>
      <td>&nbsp;</td>
      <td>Group A: Comments due by 10:30 pm</td>
    </tr>
    <tr>
      <td>F</td>
      <td>2/7</td>
      <td>Lab: Integer representation</td>
      <td>&nbsp;</td>
      <td>Assignment 1</td>
    </tr>
    
     <tr class="week-header">
          <td colspan="5"><a name="week04"></a>Week 4</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading/Prep Work</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>2/10</td>
      <td>Negative integers in binary representation<br></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>W</td>
      <td>2/12</td>
      <td>Lab: Image representation </td>
      <td>&nbsp;</td>
      <td>Group A: Discussion post due by 10:30 pm</td>
    </tr>
    <tr>
      <td>F</td>
      <td>2/14</td>
      <td>Image representation and compression</td>
      <td>&nbsp;</td>
      <td>Group B: Comments due by 10:30 pm<br>
        Assignment 2</td>
    </tr>
    
    <tr class="week-header">
          <td colspan="5"><a name="week05" id="week05"></a>Week 5</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>2/17</td>
      <td>??<br></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>W</td>
      <td>2/19</td>
      <td>Lab: Basics of HTML</td>
      <td>Background Reading: HTML<br>
      Explore example Twine narratives</td>
      <td>Group B: Discussion post due by 10:30 pm</td>
    </tr>
    <tr>
      <td>F</td>
      <td>2/21</td>
      <td>Lab: Make your own website</td>
      <td>Background Reading: Web policies</td>
      <td>Group A: Comments due by 10:30 pm<br>
      Assignment 3</td>
    </tr>
    <tr class="week-header">
          <td colspan="5"><a name="week06"></a>Week 6</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>2/24 </td>
      <td>?? </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>W</td>
      <td>2/26</td>
      <td>Lab: Python 1</td>
      <td>&nbsp; </td>
      <td>Group A: Discussion post due by 10:30 pm</td>
    </tr>
    <tr>
      <td>F</td>
      <td>2/28</td>
      <td>Lab: Python 2  </td>
      <td>&nbsp;</td>
      <td>Group B: Comments due by 10:30 pm<br>
        Assignment 4</td>
    </tr>
    
     <tr class="week-header">
          <td colspan="5"><a name="week07"></a>Week 7</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>3/2 </td>
      <td>Lab: Python 3 </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>W</td>
      <td>3/4 </td>
      <td>Lab: Python 4 </td>
      <td>&nbsp; </td>
      <td>&nbsp; </td>
    </tr>
    <tr>
      <td>F</td>
      <td>3/6 </td>
      <td>Lab: Python 5</td>
      <td>&nbsp;</td>
      <td>Assignment 5 </td>
    </tr>
     <tr class="week-header">
          <td colspan="5"><a name="week08"></a>Week 8</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>3/9 </td>
      <td>?? </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>W</td>
      <td>3/11 </td>
      <td>Project work session</td>
      <td>&nbsp; </td>
      <td>&nbsp; </td>
    </tr>
    <tr>
      <td>F</td>
      <td>3/13 </td>
      <td>Project presentations</td>
      <td>&nbsp;</td>
      <td>&nbsp; </td>
    </tr>
        	   <tr class="week-header">
          <td colspan="5"><a name="break"></a>Spring Break</td>
        </tr>
     <tr class="week-header">
          <td colspan="5"><a name="week08"></a>Week 9</td>
    </tr>
          <tr class="column-header">
      <td>Day</td>
      <td>Date</td>
      <td >Topic</td>
      <td  >Reading</td>
      <td  >Work due</td>
    </tr>
    <tr>
      <td>M</td>
      <td>&nbsp; </td>
      <td>&nbsp; </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>W</td>
      <td>&nbsp; </td>
      <td>&nbsp; </td>
      <td>&nbsp; </td>
      <td>&nbsp; </td>
    </tr>
    <tr>
      <td>F</td>
      <td>&nbsp; </td>
      <td>&nbsp;  </td>
      <td>&nbsp;</td>
      <td>&nbsp; </td>
    </tr>
    
    
  </tbody>
</table>
<p>&nbsp;</p>

