<% provide(:title, 'Readings') %>
<h1>Course Readings</h1>
<p>The idea behind this page (and in making an interactive class web site) is to be able to
allow students to choose a specialty and have this site tailor the readings and assignments
list to include the core, required items plus those that the student needs to complete in
order to finish their specialty.   </p>
<p> the reading list is now displayed, sorted by day.  Next step is to add a field in the readings 
database for the topic and change the table to include it.</p> 
<table width=95%">
	<thead>
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Assignment</th>
			<th>Day Due</th>
		</tr>
	</thead>
	<% @readings.each do |reading| %>
	<tr>
		<td><%= reading.author %></td>
		<td><%= reading.title %></td>
		<td><%= reading.assign %></td>
		<td><%= reading.day %></td>
	</tr>
	<% end %>
</table>
