@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: 	border-box;
	-webkit-box-sizing:	border-box;
	box-sizing:			border-box;
}

/* whole site */

body {
	padding-top: 60px;
	font-family: Verdana, 'Droid Sans', sans-serif;
	color: #242626;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/*  style the text */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-family: 'Merriweather', Times, serif;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight: normal;
	color: #777;
}

h3 {
	font-size: 1.75em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight: normal;
	color: #777;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	font-family: Verdana, Geneva, sans-serif;
}

/* header */

.navbar-inverse {
	background-color: #2C393F;
	border-color: black;

}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #00C7C7;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: #fff0ca;
	text-decoration: none;
}

/* schedule formatting */
.schedule {
	margin-left: 20px;

	border-collapse: collapse;
}

.schedule td {
	border: 1px solid black;
    padding-left: 1ex;
    padding-top: 0.25ex;
    padding-bottom: 0.25ex;
}

.date {
	font-weight: bold;
}

.break {
	background-color:#e6c8c7;
}

 .sched_week0 {
    background-color: #f0e8de;
}

 .sched_week1 {
    background-color: #cae4db; 
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

/* misc */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;

}

/* forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}