<footer class="footer">
	<small>
		The views and opinions expressed on individual web pages are strictly those of their authors
		and are not official statements of Grinnell College.  @ 2019 Barbara Z. Johnson
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	
	</nav>

</footer>